<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoqz.gongyu.dao.MenuDao">

    <select id="selectMenuListByRoleId" resultType="menu">
        select tb_menu.*
        from tb_role_menu
                 left join tb_menu on tb_role_menu.menu_id = tb_menu.id
        where role_id = #{roleId}
    </select>

</mapper>